$clr-primary-light: #a5aef3;
$clr-primary-normal: #5c6bc0;
$clr-primary-dark: #26418f;

$clr-secondary-light: #e393f1;
$clr-secondary-normal: #ab47bc;
$clr-secondary-dark: #790e8b;

$clr-accent-light: #ffa270;
$clr-accent-normal: #ff7043;
$clr-accent-dark: #c63f17;

$clr-neutral-light: #343434;
$clr-neutral-light-normal: #333;
$clr-neutral-normal: #232323;
$clr-neutral-normal-dark: #222;
$clr-neutral-dark: #121212;

$clr-white: #fff;
$clr-white-90: rgba($clr-white, .9);
$clr-white-67: rgba($clr-white, .67);
$clr-white-50: rgba($clr-white, .50);
$clr-white-33: rgba($clr-white, .33);