@import "/src/sass/colors";

.chart-information-wrapper {
  color: $clr-white-67;

  & > :not(:last-child) {
    border-bottom: 1px solid $clr-white-33;
    margin-bottom: .75em;
    padding-bottom: .75em;
  }

  margin-bottom: 2em;
}

.difference-wrapper {
  display: flex;
  justify-content: space-between;
}