@import "/src/sass/breakpoints";

$content-margin: 1em;

.content-wrapper {
  max-width: 100vw;

  @include mq(s) {
    justify-content: center;
    display: flex;
    width: 100%;
  }
}

.content {
  margin: $content-margin;
  width: calc(100% - 2 * #{$content-margin});
  
  @include mq(l) {
    max-width: 1200px;
  }
}