@import "../../sass/colors";
@import "../../sass/breakpoints";

.main-nav {
  background-color: $clr-neutral-normal;

  @include mq(s) {
    height: inherit;
    width: 64px;
  }

  & ul {
    display: flex;
    flex-wrap: wrap;

    @include mq(s) {
      flex-direction: column;
    }
  }
  
  & li,
  & a {
    align-items: center;
    color: $clr-white-50;
    display: flex;
    justify-content: flex-start;
    width: 100vw;

    @include mq(s) {
      flex-direction: column;
      justify-content: center;
      width: initial;
    }

    &:hover {
      color: $clr-white;
    }
  }

  & li {
    cursor: pointer;
    height: 64px;

    &:hover {
      background-color: $clr-neutral-light;
    }
  }

  & li:not(:first-of-type) {
    display: none;

    @include mq(s) {
      display: initial;
    }
  }

  & a {
    height: 64px;
    text-decoration: none;
    width: inherit;

    &.selected {
      color: $clr-primary-light;
    }
  }

  & div {
    display: flex;
    justify-content: center;
    width: 64px;
  }

  & p {
    @include mq(s) {
      font-size: 62.5%;
      margin-top: .25em;
    }
  }
}

.main-nav-collapser {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 64px;

  @include mq(s) {
    max-width: 256px;
    position: initial;
  }
}

.inflated-main-nav {
  height: 100vh;
  width: 100vw;

  @include mq(s) {
    width: 256px;
    
    & li {
      align-items: flex-start;
      width: 256px;
  
      & div {
        display: flex;
        justify-content: center;
        width: 64px;
      }
    }
  }

  & li:not(:first-of-type) {
    display: flex;
  }

  & a {
    flex-direction: initial;
    justify-content: flex-start;
    width: 100%;
  }

  & p {
    font-size: initial;
    margin: initial;
  }
}